<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- тут логотипчик сайту типо -->
            </div>
            <div class="col enter"><button type="button" class="btn btn-lg btn-info enter-btn" data-toggle="modal" data-target="#myModal">Вхід</button></div>
          </div>

    </div>





<!-- тут модалка для регистрации(сделанна как болванка что б её заменить(на аяксе зарегал акк)) -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Увійдіть в систему</h4>
      </div>
      <div class="modal-body">
        <input type="email" class="email-input" placeholder="email: StepTeam@email.com">
      </div>
      <div class="modal-body">
        <input type="password" class="password-input" placeholder="pass: 12345678">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Увійти</button>
      </div>
    </div>

  </div>
</div>
<!-- тут модалка для регистрации(сделанна как болванка что б её заменить(на аяксе зарегал акк)) -->





<div id="myCard" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-body choices">
        <div class=" btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select doctor
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cardiologist" href="#">Cardio</a></li>
            <li><a class="dropdown-item dentist" href="#">Dentist</a></li>
            <li><a class="dropdown-item therapist" href="#">Therapeut</a></li>
          </ul>

        </div>

        <p></p>

        <div class="place">

        </div>
        <div class="else">

        </div>

        

      </div>

    </div>

  </div>
</div>

<div class="root">

  
</div>
</header>
